@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #dc2626;
  --text-dark: #171717;
  --text-light: #78716c;
  --extra-light: #f9f9f9;
  --white: #ffffff;
  --black: #000000;
  --max-width: 1200px;
}



.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin: auto;
  padding-bottom: 0.75rem;
  width: fit-content;
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

.section__header::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 2px;
  width: 50px;
  background-color: var(--primary-color);
}
.ftimg {
    width: 100%;
    display: flex;
  }
  

.feature {
  margin: 5rem 0;
  position: relative;
  isolation: isolate;
}

.feature::before,
.feature::after {
  position: absolute;
  content: "";
  background-color: var(--black);
  inset: 0;
  z-index: -1;
}

.feature::before {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 100%);
  transform: skewY(8deg);
}

.feature::after {
  -webkit-clip-path: polygon(0 0, 100% 50%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 50%, 100% 100%, 0% 100%);
  transform: skewY(-8deg);
}

.feature__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}

.feature__image img {
  max-width: 550px;
  margin: auto;
}

.feature__content {
  margin: auto;
}

.feature__content .section__header {
  width: 100%;
  margin-bottom: 4rem;
  color: var(--white);
}

.feature__content ul {
  list-style: none;
  max-width: 400px;
}

.feature__content li {
  position: relative;
  margin-bottom: 2rem;
  padding-left: 1rem;
  color: var(--white);
}

.feature__content li::after {
  position: absolute;
  content: "";
  left: 0;
  top: 5px;
  height: 12px;
  width: 2px;
  background-color: var(--primary-color);
}


  

@media (width < 900px) {
  .feature__container {
    grid-template-columns: repeat(1, 1fr);
  }


}

.txthover:hover{
  color: #78716c;
  
}
.txthover:focus{
  color: #78716c;
}